.pavankalyan-centerheader{
  text-align: center;
  font-family: cursive;
  background:no-repeat center/100% url(https://miro.medium.com/max/980/1*PKlBOfhHY3AXbsa0kUf9tA.png);
}
.profile-pic{
  border-radius: 50%
}
.carousel-item {
 height: 500px;
    text-align: center;
}


.item1 {
  background-color:red;
  /*height: 100px;*/
}

.item2 {
  background-color:yellow;
  /*height: 100px;*/
}

.item3 {
  background-color:blue;
  /*height: 100px;*/
}
